@import url("./tokens.css");
@import url("./base.css");

@import url("./components/header.css");
@import url("./components/footer.css");

/* pages */
@import url("./pages/home.css");
@import url("./pages/portfolio.css");
@import url("./pages/legal.css");
@import url("./pages/contatti.css");